<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24290073351-56b9m9fb4p7ntabg7ji519pq97js5n3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24290073351-56b9m9fb4p7ntabg7ji519pq97js5n3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDbp0khz5y5mF6nImdV2U15-QAvuzzpk8k</string>
	<key>GCM_SENDER_ID</key>
	<string>24290073351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FI.Food-Inc</string>
	<key>PROJECT_ID</key>
	<string>project-food-5b105</string>
	<key>STORAGE_BUCKET</key>
	<string>project-food-5b105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24290073351:ios:901fb8e37bcb5716eac3a2</string>
	<key>DATABASE_URL</key>
	<string>https://project-food-5b105.firebaseio.com</string>
</dict>
</plist>